body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  /* margin-left: 25%; */
  /* margin-right: 10%; */
  display: inline-block;
  margin-top: 5%;
}
.triangle{
  display: inline-block;
}

.mainContainer{
  display: flex;
  color: rgb(60, 49, 70);

}
.foot{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: brown;
  font-size: small;
  justify-content: center;
  margin-top: 5%;

}
.link{
  margin: 3px;
}
.profpic{
  display:grid;
  top: 100px;
  margin: 10px;

}
.projcontainer{
  display: flex;
 flex-wrap: wrap;
 flex-direction: row;

}
.portfoliopic{
  height: 100px;
  width: 200px;
  margin: 50px;
}
.picContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.picContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px;
  justify-content: center;
}
.picTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px;
  justify-content: center;
  color: rgb(94, 18, 127);
  font-weight: bold;
}
.header{
  background-color: rgba(102, 191, 161, 0.373);

}

.desc{
  display: block;
}

.container.show .desc {
  display: block;
}